<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
        <pipelines>
          <getItemReferences>
            <processor patch:instead="*[@type='Sitecore.XA.Foundation.Publication.Pipelines.GetItemReferences.AddReferencedItemsToQueue, Sitecore.XA.Foundation.Publication']" type="Sitecore.Support.XA.Foundation.Publication.Pipelines.GetItemReferences.AddReferencedItemsToQueue, Sitecore.Support.13278" resolve="true" />
          </getItemReferences>
        </pipelines>
  </sitecore>
</configuration>
